header {
    text-align: center;
    margin: 3px;
    color: #3498db;
    background-image: url('img/header2.jpg');
    background-size: cover;
    background-position: center;
    min-height: 300px;
}

header span {
    font-family: 'Roboto Slab';
    font-size: 3em;
}